---
import Layout from "../layouts/Layout.astro";
import Maincontent from "../layouts/Maincontent.astro";
import { authenticate } from "../utils/auth";

let id: number, displayName: string, pictureUrl: string, role: string;

const req = Astro.request;

const authResult = await authenticate(req); 
if (authResult.redirect) {
  
  return Astro.redirect(authResult.redirect);
} else {
  // ถ้า token ถูกต้อง ให้ดึงข้อมูลที่จำเป็น 
  displayName = authResult.displayName;
  id = authResult.id;
 
}
---

<>
  <Layout title="Notice Me Senpai" id={id} />  
  <Maincontent title="Notice Me Senpai">
    <h1 class="index-content">สวัสดีคุณ {displayName}</h1>
  </Maincontent>
</> 