<!doctype html>
<html lang="en">
  <head>
    <title>Access Denied</title>
    <meta charset="UTF-8" />    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
  </head>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      h1 {
        text-align: center;
      }
      .button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #06C755; 
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
      }
      .button:hover {
        background-color: #4CC764;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center min-vh-100">
            <div class="w-100 d-block bg-white shadow-lg rounded my-5">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="p-5">
                    <div class="text-center mb-5">
                      <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                        <i class="mdi mdi-album"></i>
                        <b>Notice Me Senpai</b>
                        <br>
                        <br>

                        <h1>คำขอสิทธิ์เข้าสู่ระบบของคุณกำลัง รอการอนุมัติ</h1>
                        <br>
                        <a href="http://localhost:4321/login" class="button">กลับไปหน้า Login</a>
                      </a>
                    </div>
                   
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    
  </body>
</html>
