---
import WaitingPage from '../components/waiting';
---
<head>
  <meta charset="UTF-8" />  
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />    
  <link rel="stylesheet" href="/assets/css/customTheme.css">   
  
</head>
<body>  
  <WaitingPage  client:load /> 
</body>
