---

---
<head>
  <link href="../plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table
            id="basic-datatable"
            class="table dt-responsive nowrap"
            style="width: 100%; white-space: nowrap;"
          >
            <thead>
              <tr>
                <th style="white-space: nowrap;">ชื่อ</th>
                <th style="white-space: nowrap;">นามสกุล</th>
                <th style="white-space: nowrap;">กลุ่ม</th>
                <th style="white-space: nowrap;">สิทธิ์เข้าถึง</th>
                <th style="white-space: nowrap;">สถานะ</th>
                <th style="white-space: nowrap;">ตัวเลือก</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data will be populated by DataTables -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>


<!-- jQuery  -->
<!-- <script src="/assets/js/jquery.min.js" is:inline></script> -->
<!-- <script src="/assets/js/jquery.sparkline.min.js" is:inline></script> -->
<!-- <script src="/assets/js/bootstrap.bundle.min.js" is:inline></script> -->

<!-- <script src="/assets/js/metismenu.min.js" is:inline></script> -->
<!-- <script src="/assets/js/waves.js" is:inline></script> -->
<!-- <script src="/assets/js/simplebar.min.js" is:inline></script> -->
<!-- <script src="/assets/js/jquery.sparkline.min.js" is:inline></script> 
<script src="/assets/js/jquery.knob.min.js" is:inline></script> -->

<!-- third party js -->
<script src="/plugins/datatables/jquery.dataTables.min.js" is:inline></script>
<script src="/plugins/datatables/dataTables.bootstrap4.js" is:inline></script>
<script src="/plugins/datatables/dataTables.responsive.min.js" is:inline></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js" is:inline></script>
<script src="/plugins/datatables/pdfmake.min.js" is:inline></script>
<script src="/plugins/datatables/vfs_fonts.js" is:inline></script>

<!-- third party js ends -->

<!-- Datatables init -->
<script src="/assets/pages/datatables-demo.js" is:inline></script>

<!-- App js -->
<!-- <script src="/assets/js/theme.js" is:inline></script> -->
